{% extends "layout.html" %}

{% block content %}

<div class="page-container">

    <div class="table-card">

        <h1>About StockFlow</h1>

        <br>

        <p>
            StockFlow is a modern inventory management system
            built using Flask, SQLite, HTML, CSS and JavaScript.
        </p>

        <br>

        <h3>Features</h3>

        <ul>
            <li>Product Management</li>
            <li>Supplier Management</li>
            <li>Purchase Tracking</li>
            <li>Sales Tracking</li>
            <li>Revenue Analytics</li>
            <li>CSV Export</li>
            <li>Dashboard Reporting</li>
        </ul>

        <br>

        <h3>Technology Stack</h3>

        <ul>
            <li>Python Flask</li>
            <li>SQLite Database</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Chart.js</li>
        </ul>

    </div>

</div>

{% endblock %}