{% extends "layout.html" %}

{% block content %}

<div class="login-container">

    <div class="login-card">

        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="StockFlow Logo" class="login-logo">

        <h1>StockFlow</h1>

        <p>
            Smart Inventory Management Platform
        </p>

        <br>

        <p style="color:#94a3b8;">
            Manage Products, Suppliers,
            Purchases and Sales from one dashboard.
        </p>

        <br>

        {% if error %}

        <div class="error-box">
            {{ error }}
        </div>

        <br>

        {% endif %}

        <form method="POST">

            <input type="text" name="username" placeholder="Username" required>

            <input type="password" name="password" placeholder="Password" required>

            <button type="submit" class="btn-green">

                Login

            </button>

        </form>

        <br>

        <small>

            Demo Login

            <br><br>

            Username:
            <strong>admin</strong>

            <br>

            Password:
            <strong>admin123</strong>

        </small>

    </div>

</div>

{% endblock %}