{% extends "layout.html" %}

{% block content %}

<div class="page-container">

    <h1>📦 Products Management</h1>
    <a href="/dashboard" class="back-btn">
        ⬅ Dashboard
    </a>
    <div class="table-card">

        <a href="/add-product">
            <button class="btn-green">
                + Add Product
            </button>
        </a>

        <a href="/export-products">
            <button class="btn-green">
                📥 Export CSV
            </button>
        </a>

        <br><br>

        <form method="GET" action="/products">

            <input type="text" name="search" placeholder="Search Product">

            <button class="btn-green">
                Search
            </button>

        </form>

        <br>

        <h3>Total Products Found: {{ products|length }}</h3>

        <table>

            <thead>

                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>@Price</th>
                    <th>Actions</th>
                </tr>

            </thead>

            <tbody>

                {% for product in products %}

                <tr>

                    <td>{{ product[0] }}</td>

                    <td>{{ product[1] }}</td>

                    <td>{{ product[2] }}</td>

                    <td>

                        {% if product[3] < 10 %} ⚠️ {{ product[3] }} {% else %} {{ product[3] }} {% endif %} </td>

                    <td>
                        {{ currency }} {{ product[4]|currency }}
                    </td>

                    <td>

                        <a href="/edit-product/{{ product.id }}" class="btn-edit">

                            <i class="fas fa-pen-to-square"></i>
                            Edit

                        </a>

                        |

                        <a href="/delete-product/{{ product.id }}" class="btn-delete"
                            onclick="return confirm('Delete this product?')">

                            <i class="fas fa-trash"></i>
                            Delete

                        </a>

                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}