{% extends "layout.html" %}

{% block content %}

<div class="add-user-wrapper" id="mainContent">
    <div class="page-header">
        <div>
            <h1><i class="fas fa-camera"></i> Upload Profile Picture</h1>
            <p>Select a new profile picture.</p>
        </div>

        <a href="/profile" class="back-btn">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>

    <div class="form-card">
        <form method="POST" enctype="multipart/form-data">
            <label>Choose Image</label>
            <input type="file" name="profile_picture" accept="image/*" required>

            <button class="save-btn" type="submit">
                <i class="fas fa-upload"></i> Upload Picture
            </button>
        </form>
    </div>
</div>

{% endblock %}
